:export {
  mobile-width: 480px;
  desktop-width: 1024px;
  primary: #C778DD;
  gray: #ABB2BF;
  background: #282C33;
  white: #FFFFFF;
}

.main-container {
  /* Main container */
  width: 1024px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 25px;
}
@media (max-width: 1024px) {
  .main-container {
    width: 100%;
    padding: 0 16px;
    box-sizing: border-box;
  }
}
.main-container .contacts {
  /* Connects section */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 46px;
  padding-top: 53px;
}
@media (max-width: 480px) {
  .main-container .contacts {
    padding-top: 34px;
    gap: 20px;
  }
}
.main-container .contacts .contacts-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 14px;
}
.main-container .contacts .contacts-header h2 {
  font-weight: 600;
  font-size: 32px;
  color: #FFFFFF;
  margin: 0px;
}
.main-container .contacts .contacts-header h2::before {
  content: "/";
  color: #C778DD;
}
.main-container .contacts .contacts-header p {
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
  margin: 0px;
}
.main-container .contacts .contacts-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 117px;
}
@media (max-width: 1024px) {
  .main-container .contacts .contacts-info {
    gap: 10px;
  }
}
@media (max-width: 480px) {
  .main-container .contacts .contacts-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 14px;
  }
}
.main-container .contacts .contacts-info .my-info {
  font-size: 16px;
  font-weight: 500;
  color: #ABB2BF;
  margin: 0px;
}
.main-container .contacts .contacts-info .support-connection {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
}
@media (max-width: 1024px) {
  .main-container .contacts .contacts-info .support-connection {
    flex-direction: column;
  }
}
.main-container .contacts .contacts-info .support-connection div {
  padding: 16px;
  border: 1px #ABB2BF solid;
  width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0px;
}
@media (max-width: 1024px) {
  .main-container .contacts .contacts-info .support-connection div {
    padding: 10px;
  }
}
.main-container .contacts .contacts-info .support-connection div h3 {
  margin: 0px;
  font-size: 16px;
}
.main-container .contacts .contacts-info .support-connection .support {
  gap: 8px;
}
.main-container .contacts .contacts-info .support-connection .support h3 {
  font-weight: 500;
}
.main-container .contacts .contacts-info .support-connection .support p {
  margin: 0px;
}
.main-container .contacts .contacts-info .support-connection .connection {
  gap: 16px;
}
.main-container .contacts .contacts-info .support-connection .connection h3 {
  font-weight: 600;
}
.main-container .contacts .contacts-info .support-connection .connection ul {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
}
.main-container .contacts .contacts-info .support-connection .connection ul li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}
.main-container .contacts .contacts-info .support-connection .connection ul li img {
  padding: 6px 4px;
}
.main-container .contacts .contacts-info .support-connection .connection ul li a {
  color: #ABB2BF;
  font-size: 16px;
  font-weight: 400;
}
.main-container .contacts .contacts-info .support-connection .connection ul li a:hover {
  color: #FFFFFF;
}
.main-container .media {
  /* Media section */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 22px;
}
.main-container .media h2 {
  font-size: 32px;
  font-weight: 500;
  margin: 0px;
}
.main-container .media h2::before {
  content: "#";
  color: #C778DD;
}
.main-container .media .media-links {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 22px;
}
.main-container .media .media-links li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}
.main-container .media .media-links li img {
  padding: 6px 4px;
}
.main-container .media .media-links li a {
  color: #ABB2BF;
}
.main-container .media .media-links li a:hover {
  color: #FFFFFF;
}

footer {
  /* footer style */
}
@media (max-width: 480px) {
  footer {
    margin-top: 83px;
  }
}

/*# sourceMappingURL=contacts.css.map */
