.main-container
{
    width: 1024px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

/* Connects section */
.contacts
{
    display: flex;
    flex-direction: column;
    gap: 46px;
    padding-top: 53px;
}

.contacts-header
{
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.contacts-header h2
{
    font-weight: 600;
    font-size: 32px;
    color: var(--white);
    margin: 0px;
}

.contacts-header h2::before
{
    content: "/";
    color: var(--primary);
}

.contacts-header p
{
    font-weight: 400;
    font-size: 16px;
    color: var(--white);
    margin: 0px;
}

.contacts-info
{
    display: flex;
    gap: 117px;
}

.my-info
{
    font-size: 16px;
    font-weight: 500;
    color: var(--gray);
    margin: 0px;
}

.support-connection
{
    display: flex;
    gap: 11px;
    align-items: flex-start;
}

.support
{
    padding: 16px;
    border: 1px var(--gray) solid;
    width: max-content;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.support h3
{
    margin: 0px;
    font-size: 16px;
    font-weight: 500;
}

.support p
{
    margin: 0px;
}

.connection
{
    padding: 16px;
    border: 1px var(--gray) solid;
    width: max-content;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.connection h3
{
    margin: 0px;
    font-size: 16px;
    font-weight: 600;
}

.connection ul
{
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.connection ul li
{
    display: flex;
    gap: 5px;
    align-items: center;
}

.connection ul img
{
    padding: 6px 4px;
}

.connection ul a
{
    color: var(--gray);
    font-size: 16px;
    font-weight: 400;
}

.connection ul a:hover
{
    color: var(--white);
}
/* Media section */
.media
{
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.media h2
{
    font-size: 32px;
    font-weight: 500;
    margin: 0px;
}

.media h2::before
{
    content: "#";
    color: var(--primary);
}

.media-links
{
    margin: 0px;
    padding: 0px;
    display: flex;
    gap: 22px;
}

.media-links li
{
    display: flex;
    gap: 5px;
    align-items: center;
}

.media-links li img
{
    padding: 6px 4px;
}

.media-links li a
{
    color: var(--gray);
}

.media-links li a:hover
{
    color: var(--white);
}