/* Navbar */
header {
    padding-top: 32px;
    padding-bottom: 8px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1024px;
    margin: 0 auto;
}

@media (max-width: 1024px) {
    header {
        padding: 0;
    }
    .navbar {
        padding: 16px;
        padding-bottom: 0;
    }
}

.logo-wrapper {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.logo {
    margin: 0;
    font-size: 16px;
}

.nav-list {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 32px;
}

.burger-icon {
    display: none;
}

@media (max-width: 480px) {
    .nav-list {
        display: none;
    }
    .burger-icon {
        display: block;
    }
}

.nav-link {
    color: var(--gray);
    text-decoration: none;
}
.nav-link[href="index.html"] {
    color: var(--white);
}

.nav-link::before {
    content: '#';
    color: var(--primary);
    margin-right: 1px;
}